<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads tracking tools -- API Selection</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
            integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        pre {
            background-color: #f8f9fa;
            padding: 10px;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }
        .btn-default:focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }
        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
        .btn-default:active {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <h2>API Selection </h2>
    <div class="card">
        <div class="card-body">
            <div class="row" style="padding-bottom: 25px;">
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="isMultiple" @input="outputResult" id="isMultiple">
                        <label class="form-check-label" for="isMultiple">
                            Trigger Multiple APIs
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Main List
                        </div>
                        <div class="card-body">
                            <select-with-percent @update="(x)=>mainApis=x" :items="items"></select-with-percent>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Retry List
                        </div>
                        <div class="card-body">
                            <select-with-percent @update="(x)=>retryApis=x" :items="items" v-if="!isMultiple"></select-with-percent>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col  text-center">
                    <button  type="button" class="btn btn-primary btn-lg" @click="download('apiLists.js')">Download</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"
        integrity="sha512-DJ2+sosWB5FnZAIeCWAHu2gxQ7Gi438oOZLcBQSOrW8gD0s7LIXDv/5RW76B3FcljF40BXnfqNIo6Dhp7dFHJg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

<script>
    let require = function (name) {
        if (name === 'vue') {
            return Vue;
        }
        throw new Error('Dynamic require of "' + name + '" is not supported');
    }
</script>
<script src="js/dst/app.js"></script>

<script type="module">
    const {createApp} = Vue;
    createApp({
        components: GlobalVueComponents,
        data() {
            let itemData={};
            let itemTemplate={};
            //1 = fixed value
            //2 = value from url param
            //3 = custom JS function
            return {
                isMultiple: false,
                items: [
                    {"name": "bnology", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Campaign',propType:'1',propValue:'2757871'},
                            {name:'UserAgent',propType:'3',propValue:'navigator.userAgent'},
                            {name:'Creative',propType:'2',propValue:'c'},
                            {name:'PublisherSourceId',propType:'2',propValue:'s'}
                        ]
                    },
                    {"name": "thunder2", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Page',propType:'1',propValue:'amazon'},
                            {name:'SubSource',propType:'2',propValue:'s'},
                            {name:'Note',propType:'1',propValue:''},
                            {name:'Description',propType:'2',propValue:'c'},
                        ]
                    },
                    {"name": "trackbox", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Gi',propType:'1',propValue:'56'},
                            {name:'Campaign',propType:'2',propValue:'s'},
                            {name:'SubCampaign',propType:'2',propValue:'c'},
                        ]
                    },
                    {"name": "libertex", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'ITA'},
                            {name:'Campaign',propType:'2',propValue:'s'},
                            {name:'SubCampaign',propType:'2',propValue:'c'}
                        ]
                    },
                    {"name": "libertex2", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'ITA'},
                            {name:'Campaign',propType:'2',propValue:'s'},
                            {name:'SubCampaign',propType:'2',propValue:'c'}
                        ]
                    },
                    {"name": "libertex3", "p": null,  data:[
                            {name:'Language',propType:'1',propValue:'ITA'},
                            {name:'Campaign',propType:'2',propValue:'s'},
                            {name:'SubCampaign',propType:'2',propValue:'c'},
                        ]
                    },
                    {"name": "roikingdom", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Gi',propType:'1',propValue:'56'},
                            {name:'Campaign',propType:'2',propValue:'s'},
                            {name:'SubCampaign',propType:'2',propValue:'c'},
                        ]
                    },
                    {"name": "affiliate_masters", "p": null,
                        data:[
                            {name:'OfferWebsite',propType:'1',propValue:''},
                            {name:'OfferName',propType:'2',propValue:'s'},
                            {name:'Comment',propType:'2',propValue:'c'},
                            {name:'Locale',propType:'1',propValue:''},
                        ]
                    },
                    {"name": "leadingmedia", "p": null,
                        data:[
                            {name:'So',propType:'1',propValue:'amazon'},
                            {name:'Sub',propType:'2',propValue:'s'},
                            {name:'Campaign',propType:'2',propValue:'c'},
                        ]
                    },
                    {"name": "TrafficonAPI", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Campaign',propType:'2',propValue:'s'},
                            {name:'SubCampaign',propType:'1',propValue:''},
                            {name:'Iso',propType:'1',propValue:'UK'},
                            {name:'OfferId',propType:'1',propValue:'94'},
                            {name:'Country',propType:'1',propValue:'England'},
                        ]},
                    {"name": "thunder", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Page',propType:'1',propValue:'amazon'},
                            {name:'SubSource',propType:'2',propValue:'s'},
                            {name:'Note',propType:'1',propValue:''},
                            {name:'Description',propType:'2',propValue:'c'},
                        ]
                    },
                    {"name": "epcclubtracker", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Page',propType:'1',propValue:'amazon'},
                            {name:'SubSource',propType:'2',propValue:'s'},
                            {name:'Note',propType:'1',propValue:''},
                            {name:'Description',propType:'2',propValue:'c'},
                        ]
                    },
                    {"name": "finnteka", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'PageParam',propType:'2',propValue:'s'},
                        ]
                    },
                    {"name": "inceptial", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Campaign',propType:'2',propValue:'s'},
                            {name:'Currency',propType:'1',propValue:'USD'},
                            {name:'Source',propType:'2',propValue:'c'},
                            {name:'Medium',propType:'1',propValue:''},
                        ]
                    },
                    {"name": "bees", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'CampaignId',propType:'1',propValue:''},
                            {name:'Lp',propType:'1',propValue:''},
                            {name:'Useragent',propType:'1',propValue:''},
                        ]
                    },
                    {"name": "merx", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'IT'},
                            {name:'Gi',propType:'1',propValue:'188'},
                            {name:'Campaign',propType:'2',propValue:'s'},
                            {name:'SubCampaign',propType:'2',propValue:'c'},
                        ]
                    },
                    {"name": "ava", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Country',propType:'1',propValue:'UK'},
                        ]
                    },
                    {"name": "liquidityx", "p": null,
                        data:[
                            {name:'Language',propType:'1',propValue:'EN'},
                            {name:'Country',propType:'1',propValue:'UK'},
                            {name:'SubCampaign',propType:'2',propValue:'s'},
                            {name:'Sub2',propType:'2',propValue:'c'},
                            {name:'Placement',propType:'1',propValue:''},
                            {name:'Keyword',propType:'1',propValue:''},
                            {name:'UserAgent',propType:'3',propValue:'navigator.userAgent'},
                        ]
                    },
                    {"name": "alvexo", "p": null,
                        data:[
                            {name:'Gi',propType:'1',propValue:'93'},
                            {name:'Campaign',propType:'2',propValue:'s'},
                            {name:'SubCampaign',propType:'2',propValue:'c'},
                            {name:'MPC_1',propType:'1',propValue:''},
                            {name:'MPC_2',propType:'1',propValue:''},
                            {name:'MPC_3',propType:'1',propValue:''},
                            {name:'MPC_4',propType:'1',propValue:''},
                            {name:'MPC_5',propType:'1',propValue:''},
                            {name:'MPC_6',propType:'1',propValue:''},
                        ]
                    },
                    {"name": "markets", "p": null,
                        data:[
                            {name:'AffiliateID',propType:'1',propValue:''},
                            {name:'Campaign',propType:'1',propValue:''},
                        ]
                    }
                ],
                mainApis: "[]",
                retryApis: "[]"
            }
        },
        methods: {
            download(filename) {
                let text = `
let apis =
//---------------start main
${this.mainApis}
//---------------end main
; //dont delete
let apisRetry =
//---------------start retry
${this.retryApis}
//---------------end retry
;//dont delete
let useMultiple = ${this.isMultiple};
`
                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                element.setAttribute('download', filename);
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
            }
        }
    }).mount('#app')
</script>

</body>
</html>
